.background {
	background-color: grey;
	height: 100vh;
	min-height:100%;

	.message-body {
		padding: 0 !important;
	}

	.chat-box {
	    height: 200px;
	    background: #f5f7fa;
	    overflow-y: scroll;
	    border-radius: 3px 3px 0 0;
	    border: 1px solid #d3d6db;
	    border-bottom: none;
	    padding: 1rem;
	    overflow: hidden;
	}

	&.anger {
		background-color: red!important;
	}
}
.chat {
	.chat-box {
		height: 300px;
		background: $grey-lighter;
		overflow-y: scroll;
		border-radius: $radius $radius 0 0;
		border: 1px solid $grey-light;
		border-bottom: none;
		padding: 1rem;

		.message-container {
			clear: both;

			&:last-child .message {
				margin-bottom: 0;
			}
		}

		.message {
			max-width: 85%;
			background: lighten($grey-light, 5%);
			border-radius: $radius;
			color: $black;
			padding: 1rem;
			margin-bottom: 1rem;

			&.from-user {
				background: $primary;
				color: $white;
				float: right;
			}
		}
	}
}